/* Universal reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent horizontal scrolling */
html, body {
    overflow-x: hidden;

}

/* Body and anchor styling */
body {
    font-family: 'Open Sans', sans-serif;
    color: #868e96;
}

a {
    color: #106eea;
    text-decoration: none;
}

a:hover {
    color: #3b8af2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: crimson;
}
h1 {
    font-size: 2.5rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 2.5rem
}
h5 a {
    font-size: 19px;
    text-transform: capitalize;
}

a {
    color: #2196f3;
}
#p {
    font-family: "Open Sans", sans-serif !important;
    color: rgb(57, 57, 58)!important;
    margin-top: 0px;
    line-height: 22px;
    font-size: 15px;
}

a:hover,
a:focus,
a:active {
    color: #0f72c1;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}
/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #106eea;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3284f1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


#header {
    background: #e5d2b8;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;

}


#header.fixed-top {
    height: 70px;
}

#header .title {
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;

}

#header .title a {
    color: #222222;
}

#header .title a span {
    color: #850b22!important;;
}

#header .title img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #106eea;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #106eea;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #222222;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #106eea;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

.heading-border {
    width: 60px;
    height: 10px;
    background-color: #2196f3;
    background-color: coral;
    margin: 0 auto 20px auto;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    color: blue!important;
    text-align: center;

}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------

/*==================================================
                      ABOUT
====================================================*/
#about {

    background-image: url(../img/profile-banner.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#about .me h1 {
    padding-left: 3px;
    font-size: 28px;
    font-weight: bold;
}
#about .me h5 {
    font-size: 20px;
    overflow: hidden;
}
#about .me #p span {
    color: rgb(57, 57, 58)!important;
}
.text-muted {
    color: forestgreen!important;
}
.btn-warning:hover {
    color: #111;
    border-color: #d39e00;
}
.show-read-more .more-text {
    display: none;
}
/*====================================================
                      SKILLS
======================================================*/

#skills {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.skill-cover {
    background-color: whitesmoke;
}

.skill-cover h3 {
    font-family: "hind", sans-serif;
    font-size: 35px;
    margin-bottom: 5px;
    color: crimson;
    text-align: center;
}
.skill_type {
    color: darkviolet;
    text-align: left;
    margin-left: 14px;
}
.skill_name {
    padding: 10px;
    background-color: azure;
    margin-bottom: 40px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    height: 230px;

}
.skill_name ul {
    margin-bottom: 20px;
    text-align: initial;
}



.skill_name ul li {
    list-style: none;



}
.skill_name ul li i {
    margin-right: 6px;
    color: blue;

}

.skill_name ul {
    margin-bottom: 20px;

}

.skill_name ul li {
    list-style: none;


}
.skill_name ul li i {
    margin-right: 0px;
    color: blue;

}





/*--------------------------------------------------------------
#project
--------------------------------------------------------------*/
#project {
    background: #fff;
}

.project h3 {
    font-family: "hind", sans-serif;
    font-size: 35px;
    margin-bottom: 5px;
    color: crimson;
    text-align: center;
}
.project #project-flters {
    padding: 0;
    margin: 0 auto 15px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.project #project-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.project #project-flters li:hover,
.project #project-flters li.filter-active {
    color: #106eea;
}

.project #project-flters li:last-child {
    margin-right: 0;
}

.project .project-item {
    margin-bottom: 30px;
}

.project .project-item .project-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    //background: rgba(255, 255, 255, 0.9);
    // background: #eedd34;
    background: yellow;
    padding: 15px;
}

.project .project-item .project-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    //color: #222122;
    color: crimson;


}

.project .project-item .project-info p {
    color: #555555;
    font-size: 14px;
    margin-bottom: 0;
    color: blue;
}

.project .project-item .project-info .preview-link,
.project .project-item .project-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #3c3c3c;
}

.project .project-item .project-info .preview-link:hover,
.project .project-item .project-info .details-link:hover {
    color: #106eea;
}

.project .project-item .project-info .details-link {
    right: 10px;
}

.project .project-item .project-links {
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.project .project-item .project-links a {
    color: #fff;
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.project .project-item .project-links a:hover {
    color: #6ba7f5;
}

.project .project-item:hover .project-info {
    opacity: 1;
    bottom: 20px;
}
.project .project-item img {
    height: 270px;
    width: 360px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.project-details {
    padding-top: 40px;
    background: #fff!important;
}

.project-details .project-details-slider img {
    width: 100%;
}

.project-details .project-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #106eea;
}

.project-details .project-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #106eea;
}

.project-details .project-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}

.project-details .project-info h3 {
    font-size: 22px;
    font-weight: 700;
    // margin-bottom: 20px;
    //padding-bottom: 20px;
    color: crimson;
    //border-bottom: 1px solid #eee;
    text-align: center;
}

.project-details .project-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
    color: black!important;
}


.project-details .project-info ul li+li {
    margin-top: 10px;
}

.project-details .project-description {
    padding-top: 30px;
}

.project-details .project-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

.project-details .project-description p {
    padding: 0;
    color: black;
}
.project-features h3 {
    color: black!important;

}
#project-features {
    color: black!important;
}

.project-details .heading-border {
    width: 60px;
    height: 10px;
    background-color: #2196f3;
    background-color: coral;
    margin: 13px auto 20px auto;
}
.project-details h3 {
    font-size: 35px;
    color: darkgreen!important;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 768px) {
    .project-details h3 {
        font-size: 24px;
    }
    #project-not-found {
        width: 100%;
        height: 100%;
        margin-top: 15px!important;
        font-size: 15px;
        color: darkgreen!important;

        font-weight: bold;
    }
    #project-not-found p {
        margin: 250px 0px!important;
        text-align: center;
        color: red!important;

    }
}
@media (min-width: 769px) {

    #project-not-found {
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
    }

    #project-not-found p {
        margin: 900px 0px !important;
        color: red!important;
    }
}
/*--------------------------------------------------------------
    # Contact
--------------------------------------------------------------*/
#contact {
    background-color: whitesmoke;
}
.contact {

    text-align: center;
}
.contact .section-title h3 {
    font-size: 35px;
    color: crimson;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}
.contact .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    padding: 20px 0 30px 0;
}

.contact .info-box i {
    font-size: 32px;
    color: #106eea;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
    padding: 30px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #106eea;
}

.contact .php-email-form input {
    padding: 10px 15px;
}

.contact .php-email-form textarea {
    padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #3b8af2;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
    # Footer
--------------------------------------------------------------*/
/* Footer Section */
.footer-top {
    background: #f1f6de !important;
    max-width: 100%;
}
.name {
    color: darkgreen!important;
    text-transform: capitalize!important;
}


.footer {
    background-color: #04091e;    
    text-align: center;
    margin-top: auto;
    width: 100%;
    overflow: hidden!important;
	padding-top: 10px;
padding-bottom:10px;
}
.footer p a {
    color: yellow!important;
    text-decoration: none;
	

}
@media (max-width:768px) {
    .footer {
        background: #04091e;
        text-align: center;
        

    }
    .footer p a {
        color: yellow!important;
        text-decoration: none;
    }

}
